@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.tiny {
  font-size: 10px;
  font-family: 'Open Sans', 'sans-serif';
}

.small { 
    font-size: 12px; 
    font-family: 'Open Sans', 'sans-serif';
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Open Sans', 'sans-serif';
}

.btn {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 22px;
  font-family: 'Open Sans', 'sans-serif';
  text-decoration: none;
  margin: 20px;
  margin-top: -10px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

#line {
  margin: auto;
  width: 800px;
}

@media(max-width:524px) {
    #line {
      width: 468px;
      margin: auto;
    };
};

@media(max-width:768px) {
    #line {
      width: 700px;
      margin: auto;
    }
};


