.tiny {
  font-size: 10px;
  font-family: Garamond;
}

.small { 
    font-size: 12px; 
    font-family: Garamond; 
}

.title {
   font-size: 28px;
   font-family: Garamond;
}

div.event_buttons {
    position: fixed;
    top: 5px;
    left: 50px;
}

div.event_buttons div {
    background-color: rgb(251, 201, 127);
    padding: 3px;
    margin: 7px;
}

#line {
  margin: auto;
  width: 800px;
}

@media(max-width:524px) {
    #line {
      width: 468px;
      margin: auto;
    };
};

@media(max-width:768px) {
    #line {
      width: 700px;
      margin: auto;
    }
};


